
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emlak Merkezi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstate.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
             
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    
                    <img src="https://png.pngtree.com/png-clipart/20211017/original/pngtree-letter-e-logo-png-image_6854694.png" style="height:4rem;" alt="house" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Posts">İlanlarım</a>
                    </li>

                    <li class="nav-item">
                        @if (User.IsInRole("Administrators"))
                        {
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        }
                    </li>
                    </ul>

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Giriş Yap veya Üye Ol
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li class="nav-item">
                                    <a class="dropdown-item text-light" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-light" asp-area="" asp-controller="Account" asp-action="Register">Üye Ol</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hoş geldiniz Sn. @User.FindFirstValue(ClaimTypes.GivenName)
                            
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">
                                        <i class="bi bi-key"></i>
                                        Parola Değiştir
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                                        <i class="bi bi-person-walking"></i> Çıkış
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                }
               
                </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-light ">
        <div class="container">
            @DateTime.Today.Year &copy; - Tüm hakları saklıdır. - Powered By Emlak Merkezi&trade;
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
