@model ResetPasswordViewModel
@{

    ViewData["Title"] = "Parola Yenileme";
}

<form method="post" class="h-100">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card shadow-sm" style="min-width: 24rem;">
            <div class="card-body">
        <label class="form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" placeholder="e-posta adresinizi yazınız..." />
        <span asp-validation-for="UserName"></span>
    </div>
    
    <hr />
    <button type="submit" class="btn btn-primary">Gönder</button>
    <p>&nbsp;</p>
    @if (!ViewContext.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <div asp-validation-summary="All"></div>
        </div>
    }
        </div>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}