@{
    ViewData["Title"] = "Parola Yenileme";
}

<h2>Teşekkürler</h2>
<p>Belirttiğiniz e-mail adresinize parola sıfırlama maili iletilmiştir. Lütfen <a href="https://mailtrap.io/home">Mail</a> kutunuzu kontrol ediniz.</p>